* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 188, 213);
    /* background-image: url('/../public/images/2023-11-14_10.42.24.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

nav {
    background-color: rgb(0, 0, 0);
}

.main {
    max-width: 60%;
    margin: 0 auto;
    min-height: 918px;
    background-color: rgb(255, 58, 130);
}

.mainItems{
    display: grid;
    justify-items: center;
}

.toProjects {
    background-color: rgb(255, 164, 197);
    padding: 0px;
    margin: 20px;
    border-radius: 10px;
    width: 500px;
}

.toProjects a {
    background-color: rgb(255, 164, 197);
    border-radius: 10px;
}

.toProjects img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px;
}

.toProjects p {
    font-family: 'Segoe UI';
    font-size: xx-large;
    background-color: rgb(255, 164, 197);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

li {
    display: inline;
    list-style-type: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: larger;
    font-family: 'Segoe UI';

}

a:active {
    color: white;
}




.projects {
    background-color: rgb(255, 164, 197);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    min-width: 600px;
    max-width: 600px;
}

p {
    font-family: 'Segoe UI';
    font-size: larger;
}

.loginAccountCreate {
    background-color: rgb(255, 164, 197);
    padding: 20px;
    margin: 20px 200px;
    border-radius: 10px;
}
